
.Todo {
    display: grid;
    gap: 2rem;
}

.Todoinput {
    display: flex;
    gap: 1rem;

}

.Todoinput_button {
    background-color: pink;
    top: 10px;
    width: 50px;
    height: 40px;
    padding: 0;
}

.Todoinput_input{
    width: 180px;
    height: 25px;
}